<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sint vitae maxime! Dignissimos magnam adipisci dolorem vitae rem nihil labore tempora voluptate. Ut possimus quisquam est ipsam deserunt provident unde.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sint vitae maxime! Dignissimos magnam adipisci dolorem vitae rem nihil labore tempora voluptate. Ut possimus quisquam est ipsam deserunt provident unde.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa sint vitae maxime! Dignissimos magnam adipisci dolorem vitae rem nihil labore tempora voluptate. Ut possimus quisquam est ipsam deserunt provident unde.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
